body {
    background-image: url('/images/bg-body.png');
}
.main-header .logo {
    display: block;
    margin: auto;
}
.main-header .toggle-nav .fa-bars img {
    display: block;
    margin: auto;
    margin-top: 20px;
}
.main-header .main-nav {
    margin-bottom: 62px;
}
.main-header .main-nav ul {
    list-style: none;
    text-decoration: none;
    padding-inline-start: 0px;
}
.main-header .main-nav ul a {
    text-decoration: none;
}
.main-header .main-nav ul li {
    text-align: center;
    margin: 7px;
    background-color: grey;
    padding: 10px;
    color: white;
    font-family: sans-serif;
    box-shadow: black 1px 2px 2px;
}
.banner img {
    display: none;
}
.vip-products .product .photo-container {
    position: relative;
}
.vip-products .product .photo-container .photo {
    display: block;
    margin: auto;
}
.vip-products .product .photo-container .special {
    position: absolute;
    top: 0px;
    right: 50px;
}
.vip-products .product .photo-container .zoom {
    position: relative;
    margin: auto;
    bottom: 91px;
    left: 0px;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    text-align: center;
    width: 278px;
    padding: 11px;
}
.vip-products .product .nombre {
    margin-left: 29px;
    margin-top: -28px;
    font-family: sans-serif;
}
.vip-products .product p {
    margin-left: 29px;
    margin-top: 0px;
    font-family: sans-serif;
}
.vip-products .product .more {
    display: inline-block;
    margin: 12px 0px 22px 29px;
    text-decoration: none;
    background-color: grey;
    color: white;
    font-family: sans-serif;
    padding: 9px;
}
.main-footer {
    position: relative;
    bottom: -211px;
}
.main-footer ul {
    list-style: none;
    text-decoration: none;
    padding-inline-start: 0px;
    text-decoration: none;
    position: relative;
    bottom: 186px;
}
.main-footer ul li {
    text-align: center;
    margin: 7px;
    background-color: grey;
    padding: 10px;
    color: white;
    font-family: sans-serif;
    box-shadow: black 1px 2px 2px;
}

@media (min-width: 800px) {
    .main-header .logo {
        border-radius: 85px;
    }
    .main-header .toggle-nav .fa-bars img {
        display: none;
    }
    .main-header .main-nav {
        margin: auto;
    }
    .main-header .main-nav ul li {
        display: inline-block;
    }
    .banner img {
        display: block;
        width: 100%;
    }
    .vip-products .product {
        width: 300px;
        display: inline-block;
        margin-left: 100px;
    }
    .vip-products {
        margin-top: 30px;
    }
}